@model NotesApp.Models.Note

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Note Details</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Content)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Content)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedAt)
                        </dd>
                    </dl>
                    <div class="form-group d-flex justify-content-between mt-3">
                        <a asp-action="Index" class="btn btn-secondary">🔙 Back to all Notes</a>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.Id">✏️ Edit</a>
                    </div>
                </div>
                @* <div class="card-footer text-center">
                    
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </div> *@
                
            </div>
        </div>
    </div>
</div>
